{% extends 'base.html' %}
{% block title %}
    Добавление лексемы
{% endblock %}
{% block content %}
    <div class="container mb-2">
        <div class="container row mb-2 g-2 align-items-center justify-content-end">
            <div class="col-auto">
                <button class="btn btn-sm btn-success" type="submit" form="lexeme" id="submit_button">
                    Сохранить
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-danger" type="submit" form="delete">
                    Удалить
                </button>
                <form name="delete" method="post" id="delete"><input class="d-none" type="text" name="delete_lexeme" value="1"></form>
            </div>
        </div>
        <form name="lexeme" id="lexeme" method="post">
            <div class="row row-cols-1 row-cols-lg-2 align-items-center justify-content-between g-2 mb-2">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="language"
                               name="language"
                               placeholder="Введите название языка"
                               list="languages"
                               value="{{ Languages.query.get(Lexemes.query.get(lex_id).lang_id).lang }}"
                               required
                        >
                        <label for="language">Язык</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="pos" name="pos" required>
                            <option value="">не выбрана</option>
                            {% for p in Parts_of_speech.query.all() %}
                                <option value="{{ p.pos_id }}" {% if p.pos_id == Lexemes.query.get(lex_id).pos_id %}selected{% endif %}>
                                    {{ p.full_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="pos">Часть речи</label>
                    </div>
                </div>
            </div>
            <div class="container row g-2 mb-2 align-items-center justify-content-start">
                <div class="col-auto">
                    <span class="form-label h5">Формы</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-success" onclick="addForm()" type="button" id="add_form_button">
                        <span class="text-center">Добавить форму</span>
                    </button>
                </div>
            </div>
            <div class="overflow-auto row g-2 p-1 mb-2" style="max-height: 60vh;" id="forms">
                {% for f in Forms.query.filter_by(lex_id=lex_id).all() %}
                    <div class="col-12 row align-items-center justify-content-center g-2" id="existent_form_{{ f.form_id }}">
                        <div class="col-12 col-lg-2 row align-items-center justify-content-center g-2">
                            <div>
                                <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="deleteForm(existent_form_{{ f.form_id }})">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="existent_main_form_{{ f.form_id }}"
                                       name="existent_main_form_{{ f.form_id }}"
                                       placeholder="Введите текст"
                                       value="{{ f.form }}"
                                       required
                                >
                                <label for="existent_main_form_{{ f.form_id }}">Основной вид</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                           <div class="form-floating">
                                <input type="text" class="form-control" id="existent_script_form_{{ f.form_id }}"
                                       name="existent_script_form_{{ f.form_id }}"
                                       placeholder="Введите текст"
                                       dir="auto"
                                       value="{{ Forms.query.filter_by(form_id=f.form_id).first().script_form }}"
                                       >
                                <label for="existent_script_form_{{ f.form_id }}">В графике</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container row g-2 mb-2 align-items-center justify-content-start">
                <div class="col-auto">
                    <span class="form-label h5">Комментарии</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-success" onclick="addComment()" type="button" id="add_comment_button">
                        <span class="text-center">Добавить комментарий</span>
                    </button>
                </div>
            </div>
            <div class="overflow-auto row g-2 p-1 mb-2" style="max-height: 60vh;" id="comments">
                {% for p in Lexeme_relations.query.filter_by(lex_id=lex_id, type=5).all() %}
                    <div class="col-12 row align-items-center justify-content-center g-2" id="existent_comment_column_{{ p.target_id }}">
                        <div class="col-12 col-lg-2 row align-items-center justify-content-center g-2">
                            <div>
                                <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="deleteComment(existent_comment_column_{{ p.target_id }})">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-10">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="existent_comment_{{ p.target_id }}"
                                       name="existent_comment_{{ p.target_id }}"
                                       placeholder="Введите текст"
                                       value="{{ Posts.query.get(p.target_id).post }}"
                                       required
                                >
                                <label for="existent_comment_{{ p.target_id }}">Комментарий</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container row g-2 mb-2 align-items-center justify-content-start">
                <div class="col-auto">
                    <span class="form-label h5">Ссылки</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-success" onclick="addLink()" type="button" id="add_link_button">
                        <span class="text-center">Добавить ссылку</span>
                    </button>
                </div>
            </div>
            <div class="overflow-auto row g-2 p-1 mb-2" style="max-height: 60vh;" id="links">
                {% for p in Lexeme_relations.query.filter_by(lex_id=lex_id, type=4).all() %}
                    <div class="col-12 row align-items-center justify-content-center g-2" id="existent_link_column_{{ p.target_id }}">
                        <div class="col-12 col-lg-2 row align-items-center justify-content-center g-2">
                            <div>
                                <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="deleteLink(existent_link_column_{{ p.target_id }})">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="existent_link_{{ p.target_id }}"
                                       name="existent_link_{{ p.target_id }}"
                                       placeholder="Введите текст"
                                       value="{{ Posts.query.get(p.target_id).post }}"
                                       required
                                >
                                <label for="existent_link_{{ p.target_id }}">Ссылка</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="existent_link_comment_{{ p.target_id }}"
                                       name="existent_link_comment_{{ p.target_id }}"
                                       placeholder="Введите текст"
                                       value="{{ Posts.query.get(p.target_id).comment }}"
                                >
                                <label for="existent_link_comment_{{ p.target_id }}">Комментарий к ссылке</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container row g-2 mb-2 align-items-center justify-content-start">
                <div class="col-auto">
                    <span class="form-label h5">Значения</span>
                </div>
                <div class="col-auto">
                    <a class="btn btn-sm btn-warning" type="button" form="lexeme" href="{{ url_for('new_meaning', lex_id=lex_id) }}" target="_parent">
                        Добавить значение
                    </a>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Участники</th>
                                    <th scope="col">Структура события</th>
                                    <th scope="col">Пример</th>
                                    <th scope="col">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in Meanings.query.filter_by(lex_id=lex_id).all() %}
                                    <tr>
                                        <td><a class="link-primary" target="_self" href="{{ url_for('edit_meaning', m_id=m.m_id) }}">{{ m.m_id }}</a></td>
                                        <td>
                                            {% for p in Participant_relations.query.filter_by(target_id=m.m_id, type=4).all() %}
                                                <span>{{ Participants.query.get(p.participant_id).participant }}</span><br>
                                            {% endfor %}
                                        </td>
                                        <td>что-то про структуру события</td>
                                        <td>?</td>
                                        <td>{{ Amend.md(m.government) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <datalist id="languages">
        {% for l in Languages.query.all() %}
            <option value="{{ l.lang }}">
        {% endfor %}
    </datalist>
    <script type='text/javascript'>
        function addForm() {
            if ($(`#forms`).find('> div').length > 0) {
                var current_num = $(`#forms`).find('> div').length + 1;
            } else {
                var current_num = 1
            }
            $(`#forms`).append(
            `
            <div class="col-12 row align-items-center justify-content-center g-2" id="form_${current_num}">
                <div class="col-12 col-lg-2 row align-items-center justify-content-center g-2">
                    <div>
                        <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="form_${current_num}.remove()">
                            Удалить
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="main_form_${current_num}"
                               name="main_form_${current_num}"
                               placeholder="Введите текст"
                               required
                        >
                        <label for="main_form_${current_num}">Основной вид</label>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                   <div class="form-floating">
                        <input type="text" class="form-control" id="script_form_${current_num}"
                               name="script_form_${current_num}"
                               placeholder="Введите текст"
                               dir="auto"
                        >
                        <label for="script_form_${current_num}">В графике</label>
                    </div>
                </div>
            </div>`);
            for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }
        }
        $('#lexeme').submit(function(event) {
            if (!$('#forms').length) {
                alert('Добавьте хотя бы одну форму.')
                event.preventDefault();
                $('#add_form_button').focus();
            }
        });
        function addComment() {
            if ($(`#comments`).find('> div').length > 0) {
                var current_num = $(`#comments`).find('> div').length + 1;
            } else {
                var current_num = 1
            }
            $(`#comments`).append(
            `
            <div class="col-12 row align-items-center justify-content-center g-2" id="comment_${current_num}">
                <div class="col-12 col-lg-2 row align-items-center justify-content-center g-2">
                    <div>
                        <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="comment_${current_num}.remove()">
                            Удалить
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="comment_${current_num}"
                               name="comment_${current_num}"
                               placeholder="Введите текст"
                               required
                        >
                        <label for="comment_${current_num}">Комментарий</label>
                    </div>
                </div>
            </div>`);
            for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }
        }
        function addLink() {
            if ($(`#links`).find('> div').length > 0) {
                var current_num = $(`#links`).find('> div').length + 1;
            } else {
                var current_num = 1
            }
            $(`#links`).append(
            `
            <div class="col-12 row align-items-center justify-content-center g-2" id="link_${current_num}">
                <div class="col-12 col-lg-2 row align-items-center justify-content-center g-2">
                    <div>
                        <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="link_${current_num}.remove()">
                            Удалить
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="link_${current_num}"
                               name="link_${current_num}"
                               placeholder="Введите текст"
                               required
                        >
                        <label for="link_${current_num}">Ссылка</label>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="link_comment_${current_num}"
                               name="link_comment_${current_num}"
                               placeholder="Введите текст"
                        >
                        <label for="link_comment_${current_num}">Комментарий к ссылке</label>
                    </div>
                </div>
            </div>`);
            for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }
        }
        function deleteForm(form) {
            if (form.id.includes('existent')) {
                var form_id = form.id.split('_').slice(-1);
                $('#lexeme').append(
                    `<input class="d-none" type="text" name="delete_form_${form_id}" value="${form_id}">`
                )
            };
            form.remove()
        }
        function deleteComment(form) {
            if (form.id.includes('existent')) {
                var form_id = form.id.split('_').slice(-1);
                $('#lexeme').append(
                    `<input class="d-none" type="text" name="delete_comment_${form_id}" value="${form_id}">`
                )
            };
            form.remove()
        }
        function deleteLink(form) {
            if (form.id.includes('existent')) {
                var form_id = form.id.split('_').slice(-1);
                $('#lexeme').append(
                    `<input class="d-none" type="text" name="delete_link_${form_id}" value="${form_id}">`
                )
            };
            form.remove()
        }
    </script>
{% endblock %}
