<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="icon" href="{{ url_for('static', filename='Shughni logo favicon.png') }}" type="image/svg">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='Shughni logo favicon.png') }}" type="image/png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='Shughni logo favicon.png') }}" type="image/png">
        <link rel="apple-touch-icon" sizes="167x167" href="{{ url_for('static', filename='Shughni logo favicon.png') }}" type="image/png">
        <title>
            Техническое обслуживание
        </title>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
    </head>
    <body style="font-family: 'Charis SIL';" class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="h3">Ведётся техническое обслуживание</p>
                </div>
                <div class="col-12 text-center">
                    <p class="h5">Попробуйте зайти через некоторое время.</p>
                </div>
                <div class="col-12 text-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                allow="autoplay"
                                src="https://www.youtube.com/embed/QlZWByq4n9A?autoplay=1"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>