{% extends 'base.html' %}
{% block title %}
    Добавление шаблона
{% endblock %}
{% block content %}
    <div class="container mb-2">
        <div class="container row mb-2 g-2 align-items-center justify-content-start">
            <div class="col-12 col-lg-9 row g-2">
                <div class="col-12">
                    <div>
                        <label for="based_on" class="form-label">
                            <span class="text-danger">(Страница обновится!)</span> Шаблон основан на
                        </label>
                        <select form="template" class="form-select" size="3" id="based_on" name="based_on" multiple>
                            <option value="">выберите из списка</option>
                            {% for t in Templates.query.all() %}
                                <option value="{{ t.templ_id }}">{{ t.templ }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="template_name"
                               name="template_name"
                               placeholder="Введите текст"
                               form="template"
                        >
                        <label for="template_name">Введите название шаблона</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="text-center mb-2">
                    <button class="btn btn-sm btn-success" type="submit" form="template" id="submit_button">
                        Добавить шаблон
                    </button>
                </div>
            </div>
        </div>
        <form name="template" id="template" method="post">
            <div class="container row g-2 mb-2 align-items-center justify-content-start">
                <div class="col-auto">
                    <span class="form-label h5">Участники</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse_participants"
                            aria-expanded="true"
                            aria-controls="collapse_participants"
                            onclick="if (this.classList.contains('collapsed')) {this.textContent = 'Показать'} else {this.textContent = 'Скрыть'};"
                            >
                        Скрыть
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-success" onclick="addParticipant()" type="button">
                        <span class="text-center">Создать нового участника</span>
                    </button>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" onchange="if (this.value) {addExistentParticipant(this.value)}" id="select_new">
                        <option selected value="">Создать с опорой на существующего</option>
                        {% for p in Participants.query.all() %}
                            <option value="{{ p.participant_id }}">
                                {{ p.participant }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="collapse show container overflow-auto" style="max-height: 60vh;" id="collapse_participants">
                <div class="row row-cols-1 row-cols-lg-3 g-2" id="participants">
                    <div class="col row row-cols-1 align-items-center justify-content-center g-2 border-bottom border-1" id="participant_1">
                        <div class="col-auto row align-items-center justify-content-center g-2">
                            <div class="col-auto">
                                <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="deleteParticipant(participant_1)">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="label_1"
                                       name="label_1"
                                       placeholder="Введите текст"
                                       oninput="checkLabelAvailability(this, this.value)"
                                       required
                                >
                                <label for="label_1">Ярлык</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="sr_1"
                                       name="sr_1"
                                       placeholder="Введите текст"
                                       list="sr_list"
                                       oninput="suggestions('sr', sr_1.value)"
                                >
                                <label for="sr_1">Семантическая роль</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-12 align-items-center text-center mb-1">
                                <a class="text-primary h5"
                                   href="javascript:;"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   data-bs-auto-close="outside"
                                   aria-expanded="false"
                                   style="text-decoration-line: none; font-variant: small-caps"
                                >
                                    <span>Таксономия</span>
                                </a>
                                <ul class="dropdown-menu overflow-auto p-1" style="height: 200px">
                                    {% for tax in Taxonomy.query.all() %}
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value="{{ tax.tax_id }}"
                                                       id="tax_1_{{ tax.tax_id }}"
                                                       name="tax_1_{{ tax.tax_id }}"
                                                >
                                                <label class="form-check-label"
                                                       for="tax_1_{{ tax.tax_id }}"
                                                       style="font-variant: small-caps"
                                                >
                                                    {{ tax.tax }}
                                                </label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="new_tax_1"
                                       name="new_tax_1"
                                       placeholder="Введите текст"
                                >
                                <label for="new_tax_1">Введите новые тэги через запятую</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-12 align-items-center text-center mb-1">
                                <a class="text-primary h5"
                                   href="javascript:;"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   data-bs-auto-close="outside"
                                   aria-expanded="false"
                                   style="text-decoration-line: none; font-variant: small-caps"
                                >
                                    <span>Топология</span>
                                </a>
                                <ul class="dropdown-menu overflow-auto p-1" style="height: 200px">
                                    {% for top in Topology.query.all() %}
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value="{{ top.top_id }}"
                                                       id="top_1_{{ top.top_id }}"
                                                       name="top_1_{{ top.top_id }}"
                                                >
                                                <label class="form-check-label"
                                                       for="top_1_{{ top.top_id }}"
                                                       style="font-variant: small-caps"
                                                >
                                                    {{ top.top }}
                                                </label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="new_top_1"
                                       name="new_top_1"
                                       placeholder="Введите текст"
                                >
                                <label for="new_top_1">Введите новые тэги через запятую</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="other_1"
                                       name="other_1"
                                       placeholder="Введите текст"
                                >
                                <label for="other_1">Другое</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="status_1" name="status_1">
                                    <option selected value="1">ядерный</option>
                                    <option value="2">периферийный</option>
                                </select>
                                <label for="status_1">Этот участник</label>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div>
                                <label for="is_child_1" class="form-label">Родительский участник</label>
                                <select class="form-select" size="4" id="is_child_1" name="is_child_1" multiple>
                                    <option value="">отсутствует</option>
                                    {% for p in Participants.query.all() %}
                                        <option value="{{ p.participant_id }}">
                                            {{ p.participant }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container my-2">
                <textarea class="form-control overflow-auto"
                          id="example"
                          name="example"
                          placeholder="Введите текст примера"
                          style="max-height: 300px"></textarea>
            </div>
            <div class="container mb-2">
                <div class="row g-2 mb-2 align-items-center justify-content-start">
                    <div class="col-auto">
                        <span class="form-label h5">Структура события</span>
                    </div>
                </div>
                <div class="container mb-2">
                    <div class="row row-cols-2 mb-2">
                        <div class="col-auto">
                            <span class="form-label h6">Начальное состояние</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-outline-success mb-2" onclick="addElement('Initial_state')" type="button">
                                <span class="text-center">Добавить</span>
                            </button>
                        </div>
                    </div>
                    <div class="row row-cols-1 g-2 overflow-auto border-bottom border-2 mb-2" id="Initial_state" style="max-height: 30vh;">
                    </div>
                    <div class="row row-cols-2 mb-2">
                        <div class="col-auto">
                            <span class="form-label h6">Начало действия</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-outline-success mb-2" onclick="addElement('Beginning')" type="button">
                                <span class="text-center">Добавить</span>
                            </button>
                        </div>
                    </div>
                    <div class="row row-cols-1 g-2 overflow-auto border-bottom border-2 mb-2" id="Beginning" style="max-height: 30vh;">
                    </div>
                    <div class="row row-cols-2 mb-2">
                        <div class="col-auto">
                            <span class="form-label h6">Процесс</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-outline-success mb-2" onclick="addElement('Process')" type="button">
                                <span class="text-center">Добавить</span>
                            </button>
                        </div>
                    </div>
                    <div class="row row-cols-1 g-2 overflow-auto border-bottom border-2 mb-2" id="Process" style="max-height: 30vh;">
                    </div>
                    <div class="row row-cols-2 mb-2">
                        <div class="col-auto">
                            <span class="form-label h6">Завершение действия</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-outline-success mb-2" onclick="addElement('Final_stage')" type="button">
                                <span class="text-center">Добавить</span>
                            </button>
                        </div>
                    </div>
                    <div class="row row-cols-1 g-2 overflow-auto border-bottom border-2 mb-2" id="Final_stage" style="max-height: 30vh;">
                    </div>
                    <div class="row row-cols-2 mb-2">
                        <div class="col-auto">
                            <span class="form-label h6">Результат</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-outline-success mb-2" onclick="addElement('Result')" type="button">
                                <span class="text-center">Добавить</span>
                            </button>
                        </div>
                    </div>
                    <div class="row row-cols-1 g-2 overflow-auto border-bottom border-2 mb-2" id="Result" style="max-height: 30vh;">
                    </div>
                    <div class="row row-cols-2 mb-2">
                        <div class="col-auto">
                            <span class="form-label h6">Следствие</span>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-outline-success mb-2" onclick="addElement('Implication')" type="button">
                                <span class="text-center">Добавить</span>
                            </button>
                        </div>
                    </div>
                    <div class="row row-cols-1 g-2 overflow-auto" id="Implication" style="max-height: 30vh;">
                    </div>
                </div>
            </div>
        </form>
        <datalist id="sr_list"></datalist>
        <datalist id="I_list"></datalist>
        <datalist id="B_list"></datalist>
        <datalist id="P_list"></datalist>
        <datalist id="F_list"></datalist>
        <datalist id="R_list"></datalist>
        <datalist id="Impl_list"></datalist>
    </div>
    <script type='text/javascript'>
        for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }

        function addParticipant() {
            if ($('#participants').find('> div').length > 0) {
                var current_num = $('#participants').find('> div').length + 1;
            } else {
                var current_num = 1
            }
            $('#participants').append(
                `<div class="col row row-cols-1 align-items-center justify-content-center g-2 border-bottom border-1" id="participant_${current_num}">
                    <div class="col-auto row align-items-center justify-content-center g-2">
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="deleteParticipant(participant_${current_num})">
                                Удалить
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="label_${current_num}"
                                   name="label_${current_num}"
                                   placeholder="Введите текст"
                                   oninput="checkLabelAvailability(this, this.value)"
                                   required
                            >
                            <label for="label_${current_num}">Ярлык</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="sr_${current_num}"
                                   name="sr_${current_num}"
                                   placeholder="Введите текст"
                                   list="sr_list"
                                   oninput="suggestions('sr', sr_${current_num}.value)"
                            >
                            <label for="sr_${current_num}">Семантическая роль</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-12 align-items-center text-center mb-1">
                            <a class="text-primary h5"
                               href="javascript:;"
                               role="button"
                               data-bs-toggle="dropdown"
                               data-bs-auto-close="outside"
                               aria-expanded="false"
                               style="text-decoration-line: none; font-variant: small-caps"
                            >
                                <span>Таксономия</span>
                            </a>
                            <ul class="dropdown-menu overflow-auto p-1" style="height: 200px">
                                {% for tax in Taxonomy.query.all() %}
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   value="{{ tax.tax_id }}"
                                                   id="tax_${current_num}_{{ tax.tax_id }}"
                                                   name="tax_${current_num}_{{ tax.tax_id }}"
                                            >
                                            <label class="form-check-label"
                                                   for="tax_${current_num}_{{ tax.tax_id }}"
                                                   style="font-variant: small-caps"
                                            >
                                                {{ tax.tax }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="new_tax_${current_num}"
                                   name="new_tax_${current_num}"
                                   placeholder="Введите текст"
                            >
                            <label for="new_tax_${current_num}">Введите новые тэги через запятую</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-12 align-items-center text-center mb-1">
                            <a class="text-primary h5"
                               href="javascript:;"
                               role="button"
                               data-bs-toggle="dropdown"
                               data-bs-auto-close="outside"
                               aria-expanded="false"
                               style="text-decoration-line: none; font-variant: small-caps"
                            >
                                <span>Топология</span>
                            </a>
                            <ul class="dropdown-menu overflow-auto p-1" style="height: 200px">
                                {% for top in Topology.query.all() %}
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   value="{{ top.top_id }}"
                                                   id="top_${current_num}_{{ top.top_id }}"
                                                   name="top_${current_num}_{{ top.top_id }}"
                                            >
                                            <label class="form-check-label"
                                                   for="top_${current_num}_{{ top.top_id }}"
                                                   style="font-variant: small-caps"
                                            >
                                                {{ top.top }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="new_top_${current_num}"
                                   name="new_top_${current_num}"
                                   placeholder="Введите текст"
                            >
                            <label for="new_top_${current_num}">Введите новые тэги через запятую</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="other_${current_num}"
                                   name="other_${current_num}"
                                   placeholder="Введите текст"
                            >
                            <label for="other_${current_num}">Другое</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select" id="status_${current_num}" name="status_${current_num}">
                                <option selected value="1">ядерный</option>
                                <option value="2">периферийный</option>
                            </select>
                            <label for="status_${current_num}">Этот участник</label>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div>
                            <label for="is_child_${current_num}" class="form-label">Родительский участник</label>
                            <select class="form-select" size="4" id="is_child_${current_num}" name="is_child_${current_num}" multiple>
                                <option value="">отсутствует</option>
                                {% for p in Participants.query.all() %}
                                    <option value="{{ p.participant_id }}">
                                        {{ p.participant }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>`);
            for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }
        }

        function addExistentParticipant(id) {
            if ($('#participants').find('> div').length > 0) {
                var current_num = $('#participants').find('> div').length + 1;
            } else {
                var current_num = 1
            }
            if ($(`:input[name=existent_participant_${id}]`).length) {
                return alert('Этот участник уже был добавлен.')
            }
            var packet = {
                    type: 'existent_participant',
                    input: id
                };
                fetch('{{ url_for('editing_autocomplete') }}', {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(packet),
                    cache: 'no-cache',
                    headers: new Headers({
                        'content-type': 'application/json'
                    })
                })
                .then(function (response) {
                    if (response.status == 200) {
                        $(`#select_new option[value=""]`).prop('selected', true);
                        response.json().then(function (items) {
                            $('#participants').append(
                                `<div class="col row row-cols-1 align-items-center justify-content-center g-2 border-bottom border-1" id="participant_${current_num}">
                                <div class="col-auto row align-items-center justify-content-center g-2">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-sm btn-outline btn-outline-danger" onclick="deleteParticipant(participant_${current_num})">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="label_${current_num}"
                                               name="label_${current_num}"
                                               placeholder="Введите текст"
                                               oninput="checkLabelAvailability(this, this.value)"
                                               required
                                        >
                                        <label for="label_${current_num}">Ярлык</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="sr_${current_num}"
                                               name="sr_${current_num}"
                                               placeholder="Введите текст"
                                               list="sr_list"
                                               value="${items['sr']}"
                                               oninput="suggestions('sr', sr_${current_num}.value)"
                                        >
                                        <label for="sr_${current_num}">Семантическая роль</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-12 align-items-center text-center mb-1">
                                        <a class="text-primary h5"
                                           href="javascript:;"
                                           role="button"
                                           data-bs-toggle="dropdown"
                                           data-bs-auto-close="outside"
                                           aria-expanded="false"
                                           style="text-decoration-line: none; font-variant: small-caps"
                                        >
                                            <span>Таксономия</span>
                                        </a>
                                        <ul class="dropdown-menu overflow-auto p-1" style="height: 200px">
                                            {% for tax in Taxonomy.query.all() %}
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               value="{{ tax.tax_id }}"
                                                               id="tax_${current_num}_{{ tax.tax_id }}"
                                                               name="tax_${current_num}_{{ tax.tax_id }}"
                                                        >
                                                        <label class="form-check-label"
                                                               for="tax_${current_num}_{{ tax.tax_id }}"
                                                               style="font-variant: small-caps"
                                                        >
                                                            {{ tax.tax }}
                                                        </label>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="new_tax_${current_num}"
                                               name="new_tax_${current_num}"
                                               placeholder="Введите текст"
                                        >
                                        <label for="new_tax_${current_num}">Введите новые тэги через запятую</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-12 align-items-center text-center mb-1">
                                        <a class="text-primary h5"
                                           href="javascript:;"
                                           role="button"
                                           data-bs-toggle="dropdown"
                                           data-bs-auto-close="outside"
                                           aria-expanded="false"
                                           style="text-decoration-line: none; font-variant: small-caps"
                                        >
                                            <span>Топология</span>
                                        </a>
                                        <ul class="dropdown-menu overflow-auto p-1" style="height: 200px">
                                            {% for top in Topology.query.all() %}
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               value="{{ top.top_id }}"
                                                               id="top_${current_num}_{{ top.top_id }}"
                                                               name="top_${current_num}_{{ top.top_id }}"
                                                        >
                                                        <label class="form-check-label"
                                                               for="top_${current_num}_{{ top.top_id }}"
                                                               style="font-variant: small-caps"
                                                        >
                                                            {{ top.top }}
                                                        </label>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="new_top_${current_num}"
                                               name="new_top_${current_num}"
                                               placeholder="Введите текст"
                                        >
                                        <label for="new_top_${current_num}">Введите новые тэги через запятую</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="other_${current_num}"
                                               name="other_${current_num}"
                                               placeholder="Введите текст"
                                               value="${items['other']}"
                                        >
                                        <label for="other_${current_num}">Другое</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <select class="form-select" id="status_${current_num}" name="status_${current_num}">
                                            <option selected value="1">ядерный</option>
                                            <option value="2">периферийный</option>
                                        </select>
                                        <label for="status_${current_num}">Этот участник</label>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    <div>
                                        <label for="is_child_${current_num}" class="form-label">Родительский участник</label>
                                        <select class="form-select" size="4" id="is_child_${current_num}" name="is_child_${current_num}" multiple>
                                            <option value="">отсутствует</option>
                                            {% for p in Participants.query.all() %}
                                                <option value="{{ p.participant_id }}">
                                                    {{ p.participant }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>`);
                            $(`#status_${current_num} option[value="${items['status']}"`).prop('selected', true);
                            for (let i of items['tax']) {
                                $(`#tax_${current_num}_${i}`).prop('checked', true);
                            };
                            for (let i of items['top']) {
                                $(`#top_${current_num}_${i}`).prop('checked', true);
                            };
                            for (let i of items['parents']) {
                                $(`#is_child_${current_num} option[value="${i}"`).prop('selected', true);
                            };
                            $(`#is_child_${current_num} option[value="${id}"`).prop('selected', true);
                        });
                    };
                });
            for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }
        }

        function addElement(id) {
            if ($(`#${id}`).find('> div').length > 0) {
                var current_num = $(`#${id}`).find('> div').length + 1;
            } else {
                var current_num = 1
            }
            if (id == 'Implication') {
                var type = 'Impl';
            } else {
                var type = Array.from(id)[0];
            }
            $(`#${id}`).append(
            `
            <div class="col row mb-1 align-items-center justify-content-start g-2 p-1">
                <div class="col-3 col-xl-1 text-center">
                    <input class="form-control"
                           type="number"
                           value="${current_num}"
                           id="rank_${type}_${current_num}"
                           name="rank_${type}_${current_num}"
                           >
                </div>
                <div class="col-9 col-xl-3">
                    <div class="form-floating">
                        <select class="form-select" id="is_child_${type}_${current_num}}" name="is_child_${type}_${current_num}">
                            <option value="">текущий</option>
                            {% for t in Templates.query.all() %}
                                <option value="{{t.templ_id}}">{{t.templ}}</option>
                            {% endfor %}
                        </select>
                        <label for="is_child_${type}_${current_num}">Родительский шаблон</label>
                    </div>
                </div>
                <div class="col-12 col-xl-8">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="${type}_${current_num}"
                               name="${type}_${current_num}"
                               placeholder="Введите текст"
                               list="${type}_list"
                               oninput="suggestions('${type}', ${type}_${current_num}.value)"
                        >
                        <label for="${type}_${current_num}">Введите описание</label>
                    </div>
                </div>
            </div>
            `
                );
            for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
            }
        }

        function deleteParticipant(participant) {
            participant.remove()
        }

        function disableCheckBox(pos, grammar) {
            var gr_id = $(grammar).attr('id');
            if (pos.value == '2' || pos.value == '4') {
                for (let i = 34; i < 36; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", false)
                }
                for (let i = 36; i < 42; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", true)
                }
            } else if (pos.value == '1') {
                for (let i = 36; i < 42; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", false)
                }
                for (let i = 34; i < 36; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", true)
                }
            } else if (pos.value == '3') {
                for (let i = 59; i < 60; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", false)
                }
                for (let i = 34; i < 59; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", true)
                }
            } else {
                for (let i = 34; i < 42; i++) {
                    $(`#${gr_id} option[value=${i}]`).prop("disabled", true)
                }
                grammar.selectedIndex = 0;
            }
        }
        var exampleEl = document.getElementById('delete_lex')

        function addLabels(aim, dropdown, type) {
            if ($(`#${dropdown}`).is(':checked')) {
                const re_ns = RegExp('\n', 'g');
                const re_spaces = RegExp(' +$', 'gm');
                var current_text = $(`#${aim}`).text().replaceAll(re_ns, '').replace(re_spaces, '');
                if (current_text.match('Пометы')) {
                    var selected = [$(`#${dropdown}`).attr('full_name')];
                } else {
                    var selected = [current_text, $(`#${dropdown}`).attr('full_name')];
                }
                $(`#${aim}`).text(selected.join(', '));
            } else {
                var label = $(`#${dropdown}`).attr('full_name');
                const re = RegExp(`(, )*${label}`.replace('\.', '\\\.'), 'g');
                const re_spaces = RegExp('[ \n]+$', 'gm');
                const re_beginning = RegExp('^[ \n]*, ', 'gm');
                var new_text = $(`#${aim}`).text().replace(re, '').replace(re_spaces, '');
                if (new_text == '') {
                    new_text = 'Пометы'
                }
                new_text = new_text.replace(re_beginning, '')
                $(`#${aim}`).text(new_text)
            }
        }

        function suggestions(type, input) {
            $(`#${type}_list`).empty();
            if (input.length > 2) {
                var packet = {
                    type: type,
                    input: input
                };
                fetch('{{ url_for('editing_autocomplete') }}', {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(packet),
                    cache: 'no-cache',
                    headers: new Headers({
                        'content-type': 'application/json'
                    })
                })
                .then(function (response) {
                    if (response.status == 200) {
                        response.json().then(function (items) {
                            for (var item in items) {
                                $(`#${type}_list`).append(
                                    `<option value="${items[item]}">`
                                )
                            }
                        })
                    }
                });
            }
        }
        function checkLabelAvailability(input, value) {
            if (value.length > 1) {
                var packet = {
                    type: 'p_label_availability',
                    input: value
                };
                fetch('{{ url_for('editing_autocomplete') }}', {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(packet),
                    cache: 'no-cache',
                    headers: new Headers({
                        'content-type': 'application/json'
                    })
                })
                .then(function (response) {
                    if (response.status == 200) {
                        response.json().then(function (status) {
                            if (status) {
                                $(input).removeClass('is-invalid');
                                $(input).addClass('is-valid')
                            } else {
                                $(input).removeClass('is-valid');
                                $(input).addClass('is-invalid')
                            }
                        })
                    }
                });
            }
        }
        $('#template').submit(function(event) {
            if ($('.is-invalid').length) {
                alert('Удостоверьтесь, что все ярлыки уникальны.')
                event.preventDefault();
                $('.is-invalid').focus();
            }
        });
    </script>
{% endblock %}
