{% extends "base.html" %}
{% block title %}Шаблоны{% endblock %}
{% block content %}
    <div class="container">
        <form action="" method="post" id="search">
            <div class="row justify-content-center">
                <div class="col-auto mb-2 mb-md-0">
                    <button class="btn btn-outline-primary" type="submit" form="search">Искать</button>
                </div>
                <div class="col-auto mb-2 mb-md-0">
                    <select class="form-select" name="parameter">
                        <option selected value="ID">Параметр поиска</option>
                        <option value="ID">ID</option>
                    </select>
                </div>
                <div class="col-6">
                    <input required name="query" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Основан на</th>
                    <th scope="col">Участники</th>
                    <th scope="col">Структура события</th>
                    <th scope="col">Создан</th>
                </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                            <tr>
                                <td>{{ template.templ_id }}</td>
                                <td><a class="link-primary" target="_blank" href="{{ url_for('edit_template', templ_id=template.templ_id) }}">{{ template.templ }}</a></td>
                                <td>
                                    {% for t in Template_relations.query.filter_by(target_id=template.templ_id, type=1).all() %}
                                        <span>{{ Templates.query.get(t.templ_id).templ }}</span><br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for p in Template_relations.query.filter_by(templ_id=template.templ_id, type=9).all() %}
                                        <span>{{ Participants.query.get(p.target_id).participant }}</span><br>
                                    {% endfor %}
                                </td>
                                <td>что-то про структуру события</td>
                                <td>{{ Amend.username(template.created_by) }}, {{ Amend.datetime(template.datetime) }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if items.has_prev or items.has_next %}
            <div class="container text-center">
                <div class="row justify-content-center">
                    {% if items.has_prev %}
                        <div class="col-4">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('profiles', page=items.prev_num) }}">Предыдущие профили</a>
                        </div>
                    {% endif %}
                    {% if items.has_next %}
                        <div class="col-4">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('profiles', page=items.next_num) }}">Следующие профили</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}